In [1]:
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

from scipy.stats import chi2_contingency
from scipy.stats import ttest_ind

In [19]:
df=pd.read_csv('movies.csv', index_col=0)

In [20]:
df.head()

,year,imdb,title,test,clean_test,binary,budget,domgross,intgross,code,budget_2013$,domgross_2013$,intgross_2013$,period code,decade code
index,,,,,,,,,,,,,,,
0,2013,tt1711425,21 &amp; Over,notalk,notalk,FAIL,13000000,25682380.0,42195766.0,2013FAIL,13000000,25682380.0,42195766.0,1.0,1.0
1,2012,tt1343727,Dredd 3D,ok-disagree,ok,PASS,45000000,13414714.0,40868994.0,2012PASS,45658735,13611086.0,41467257.0,1.0,1.0
2,2013,tt2024544,12 Years a Slave,notalk-disagree,notalk,FAIL,20000000,53107035.0,158607035.0,2013FAIL,20000000,53107035.0,158607035.0,1.0,1.0
3,2013,tt1272878,2 Guns,notalk,notalk,FAIL,61000000,75612460.0,132493015.0,2013FAIL,61000000,75612460.0,132493015.0,1.0,1.0
4,2013,tt0453562,42,men,men,FAIL,40000000,95020213.0,95020213.0,2013FAIL,40000000,95020213.0,95020213.0,1.0,1.0

In [21]:
df.dtypes

year                int64
imdb               object
title              object
test               object
clean_test         object
binary             object
budget              int64
domgross          float64
intgross          float64
code               object
budget_2013$        int64
domgross_2013$    float64
intgross_2013$    float64
period code       float64
decade code       float64
dtype: object

In [26]:
df.isna().sum()

year                0
imdb                0
title               0
test                0
clean_test          0
binary              0
budget              0
domgross           17
intgross           11
code                0
budget_2013$        0
domgross_2013$     18
intgross_2013$     11
period code       179
decade code       179
dtype: int64

In [22]:
categoricas=df.select_dtypes(include='O')

In [23]:
columnas_cat=categoricas.columns

In [24]:
for columna in columnas_cat: 
    print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
    print(f"Sus valores únicos son: {categoricas[columna].unique()}\n")
    print(f"Las frecuencias de los valores únicos de las categorías son: {categoricas[columna].value_counts()} ")

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'IMDB' -----------

Sus valores únicos son: ['tt1711425' 'tt1343727' 'tt2024544' ... 'tt0067116' 'tt0067992'
 'tt0065466']

Las frecuencias de los valores únicos de las categorías son: imdb
tt1711425    1
tt0127536    1
tt0120737    1
tt0290879    1
tt0221218    1
            ..
tt1227929    1
tt0448157    1
tt1104733    1
tt1205489    1
tt0065466    1
Name: count, Length: 1794, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'TITLE' -----------

Sus valores únicos son: ['21 &amp; Over' 'Dredd 3D' '12 Years a Slave' ... 'The French Connection'
 'Willy Wonka &amp; the Chocolate Factory'
 'Beyond the Valley of the Dolls']

Las frecuencias de los valores únicos de las categorías son: title
Pride and Prejudice                   3
Hannibal                              2
The Illusionist                       2
Conan the Barbarian                   2
The Avengers                          2
                                     ..
In Bruges                             1
Igor                                  1
High School Musical 3: Senior Year    1
Herb &amp; Dorothy                    1
Beyond the Valley of the Dolls        1
Name: count, Length: 1768, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'TEST' -----------

Sus valores únicos son: ['notalk' 'ok-disagree' 'notalk-disagree' 'men' 'ok' 'nowomen-disagree'
 'dubious-disagree' 'men-disagree' 'dubious' 'nowomen']

Las frecuencias de los valores únicos de las categorías son: test
ok                  696
notalk              379
notalk-disagree     135
men                 125
ok-disagree         107
nowomen              88
dubious              81
men-disagree         69
dubious-disagree     61
nowomen-disagree     53
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'CLEAN_TEST' -----------

Sus valores únicos son: ['notalk' 'ok' 'men' 'nowomen' 'dubious']

Las frecuencias de los valores únicos de las categorías son: clean_test
ok         803
notalk     514
men        194
dubious    142
nowomen    141
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'BINARY' -----------

Sus valores únicos son: ['FAIL' 'PASS']

Las frecuencias de los valores únicos de las categorías son: binary
FAIL    991
PASS    803
Name: count, dtype: int64

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'CODE' -----------

Sus valores únicos son: ['2013FAIL' '2012PASS' '2013PASS' '2012FAIL' '2011FAIL' '2011PASS'
 '2010FAIL' '2010PASS' '2009FAIL' '2009PASS' '2008PASS' '2008FAIL'
 '2007PASS' '2007FAIL' '2006FAIL' '2006PASS' '2005PASS' '2005FAIL'
 '2004PASS' '2004FAIL' '2003FAIL' '2003PASS' '2002FAIL' '2002PASS'
 '2001FAIL' '2001PASS' '2000PASS' '2000FAIL' '1999PASS' '1999FAIL'
 '1998FAIL' '1998PASS' '1997PASS' '1997FAIL' '1996FAIL' '1996PASS'
 '1995PASS' '1995FAIL' '1994FAIL' '1994PASS' '1993FAIL' '1993PASS'
 '1992FAIL' '1992PASS' '1991PASS' '1991FAIL' '1990FAIL' '1990PASS'
 '1989PASS' '1989FAIL' '1988FAIL' '1988PASS' '1987FAIL' '1987PASS'
 '1986PASS' '1986FAIL' '1985FAIL' '1985PASS' '1984FAIL' '1984PASS'
 '1983PASS' '1983FAIL' '1982FAIL' '1982PASS' '1981FAIL' '1981PASS'
 '1980FAIL' '1980PASS' '1979PASS' '1979FAIL' '1978FAIL' '1978PASS'
 '1977FAIL' '1977PASS' '1976FAIL' '1976PASS' '1975FAIL' '1974PASS'
 '1974FAIL' '1973FAIL' '1973PASS' '1972FAIL' '1972PASS' '1971FAIL'
 '1970PASS']

Las frecuencias de los valores únicos de las categorías son: code
2009FAIL    82
2011FAIL    71
2010FAIL    68
2010PASS    61
2005PASS    54
            ..
1983PASS     2
1973PASS     1
1981PASS     1
1972PASS     1
1970PASS     1
Name: count, Length: 85, dtype: int64